@use "./components/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

html {
  font-size: 10px;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 100%;
  font-weight: 500;
}

.container {
  margin: 0 auto;
  max-width: 108rem;
  padding: 0 1.5rem;
}

//Header
.header {
  padding: 8.4rem 0 0;

  &__items {
    display: flex;
    align-items: center;
    gap: 3.4rem;
  }

  &__img {
    max-width: 10rem;
    img {
      width: 100%;
    }
  }

  &__title {
    @include title(2.4rem, $colorFontMain);
  }
}

@media (max-width: 768px) {
  .header {
    padding: 1.9rem 0 0;

    &__items {
      justify-content: center;
    }

    &__title {
      display: none;
    }

    &__img {
      max-width: 5.7rem;
    }
  }
}

//MainContent
.main {
  padding: 2.06rem 0 5.9rem;

  &__items {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 5rem;
  }

  &__item {
    &:first-child {
      flex: 0 1 26%;
    }
    &:last-child {
      flex: 0 1 68%;
    }
  }
}

//filters
.filters {
  display: flex;
  flex-direction: column;
  gap: 4.7rem;
}

.filter {
  padding: 1.9rem 1.9rem 3.1rem;
  background-color: $backgroundFilters;
  border-radius: 1rem;

  &__title {
    @include title(2rem, $colorFontMain);
    margin-bottom: 2.7rem;
  }

  &__list {
    color: $colorFontFilters;

    li {
      display: flex;
      align-items: center;
    }

    li:not(:last-child) {
      margin-bottom: 2.1rem;
    }
  }
}

.square {
  &__rowcheckbox {
    margin-right: 1.9rem;
    appearance: none;
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 0.4rem;
    accent-color: $backgroundFilters;
    border: 1px solid $colorFontFilters;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.circle {
  &__rowcheckbox {
    margin-right: 2.2rem;
    position: relative;
    appearance: none;
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 50%;
    accent-color: $backgroundFilters;
    border: 1px solid $colorFontFilters;

    &_after {
      &::after {
        content: "";
        position: absolute;
        top: 0.2rem;
        left: 0.2rem;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        background-color: $colorFontFilters;
      }
    }
  }
}

//tiskets
.tickets {
  &__sort-buttons {
    margin-bottom: 2.9rem;
    display: flex;
    width: 100%;
    height: 5.5rem;
    border: 0.1rem solid $colorFontMain;
    border-radius: 1rem;
    overflow: hidden;
  }
  &__sort-button {
    flex: 0 1 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $backgroundFilters;
    cursor: pointer;

    &:first-child {
      border-right: 0.1rem solid $colorFontMain;
    }
    &:last-child {
      border-left: 0.1rem solid $colorFontMain;
    }
  }

  &__list {
    margin-bottom: 7.4rem;
    display: flex;
    flex-direction: column;
    gap: 4.7rem;
  }

  &__addtickets {
    @include title(2.4rem, $colorFontLightt);
    width: 100%;
    height: 6.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: $colorFontMain;
  }
}

//ticket
.ticket {
  padding: 3.8rem 4rem 2.5rem 3.9rem;
  background-color: $backgroundFilters;
  border-radius: 1rem;
  color: $colorFontFilters;

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__item {
	&:last-child {
		text-align: center;
	}
  }


  &__price {
    @include title(3.2rem, $colorFontMain);
    margin-bottom: 2.5rem;
  }

  &__text,
  &__path {
    margin-bottom: 0.9rem;
  }

  &__duration,
  &__time,
  &__transfers {
    color: $colorFontMain;
  }

  &__img {
    margin-bottom: 2.5rem;
  }
}

.filtermobile {
  display: none;
}

@media (max-width: 1024px) {
  .header {
    padding: 5rem 0 0;
  }

  .ticket {
    padding: 3rem 2.3rem;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 1.9rem 0 0;
    &__img {
      max-width: 5.7rem;
    }
    &__title {
      display: none;
    }
  }
  .main {
    padding: 2.7rem 0 5.9rem;
    &__items {
      display: block;
    }
    &__item {
      &:first-child {
        display: none;
      }
    }
  }
  .filtermobile {
    display: block;
    margin-bottom: 3.4rem;
    width: 100%;
    padding: 1.2rem 1.6rem 0 2.3rem;
    border-radius: 1rem;
    background-color: $colorFontMain;
    color: $colorFontLightt;

    &__row {
      padding-bottom: 1.3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__info {
      margin-right: 1rem;
      font-weight: 500;
    }

    &__button {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    &__buttontext {
      margin-right: 1.7rem;
      font-size: 1.2rem;
      font-weight: 500;
    }

    .filters {
      padding-bottom: 4.1rem;
      flex-direction: row;
    }

    .filter {
      flex: 0 1 50%;
      margin-bottom: 0;
      padding: 0;
      display: block;
      background-color: inherit;
      &:not(:last-child) {
        margin-right: 6.6rem;
      }

      &__title {
        @include title(2rem, $colorFontLightt);
        margin-bottom: 1.2rem;
      }
    }

    .square {
      &__rowcheckbox {
        border: 1px solid $colorFontLightt;
      }
      &__rowtext {
        color: $colorFontLightt;
      }
    }

    .circle {
      &__rowcheckbox {
        border: 1px solid $colorFontLightt;

        &_after {
          &::after {
            background-color: $colorFontLightt;
          }
        }
      }

      &__rowtext {
        color: $colorFontLightt;
      }
    }
  }
}

@media (max-width: 650px) {
  .filtermobile {
    &__info {
      font-size: 1.2rem;
    }

    &__buttontext {
      display: none;
    }

    .filters {
      gap: 2rem;
    }

	.filter {
		&__title {
			 @include title(1.6rem, $colorFontLightt);
		}
	}

	.filter:first-child {
		margin-right: 0;
	}

	.circle__rowtext,
	.square__rowtext {
		font-size: 1.6rem;
	}
  }
}

@media (max-width: 480px) {
	.filtermobile {
		.filters {
			flex-direction: column;
			gap: 4rem;
		}

		.filter {
			&__title {
				@include title(1.8rem, $colorFontLightt);
			}
		}
	}

	.ticket {
		padding: 2rem 1rem;
		min-height: 14rem;
		&__img {
			max-width: 13rem;
			img {
				width: 100%;
			}
		}
		&__price {
			font-size: 2.8rem;
		}
		&__text,
		&__time,
		&__duration,
		&__path,
		&__transfers {
			font-size: 1.2rem;
		}
	}
}

@media (max-width: 375px) {
	.tickets {
		&__sort-button {
			font-size: 1.2rem;
		}
		&__addtickets {
			    @include title(1.8rem, $colorFontLightt);
		}
	}
	.ticket {
		&__price {
			font-size: 1.8rem;
		}
		&__img {
			max-width: 8rem;
		}
	}
}